<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<h1> MASTI </h1>
  <h2>Log in</h2>
  <h2>Log in</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log in</button>
  </form>
  <hr>
  <p>Or log in with Google:</p>
  <a href="{% url 'google_auth' 'google-oauth2' %}" class="btn btn-default">Log in with Google</a>
  </body>
</html>